Source: ros-lunar-iot-bridge
Section: misc
Priority: extra
Maintainer: mike <corb@aol.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-diagnostic-msgs, ros-lunar-rostest
Homepage: http://wiki.ros.org/iot_bridge
Standards-Version: 3.9.2

Package: ros-lunar-iot-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-requests, ros-lunar-diagnostic-msgs, ros-lunar-rospy, ros-lunar-rostopic
Description: The iot_bridge provides a bi-directional bridge between ROS and the OpenHAB Home Automation system.
 This allows a ROS robot to connect to a vast variety of IoT devices such as motion detectors, Z-Wave devices, lighting, door locks, etc.
